In [1]:
!pip show sqlalchemy

Name: SQLAlchemy
Version: 2.0.42
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: C:\Users\aksha\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages
Requires: greenlet, typing-extensions
Required-by:

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
from dotenv import load_dotenv
import os
load_dotenv(override=True)

True

In [4]:
# Your MySQL connection details
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')        # or your server address
port = os.getenv('DB_PORT')            # default MySQL port
database = os.getenv('DB_NAME')

# Create SQLAlchemy engine
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')

In [5]:
path = os.getenv('Path')
df = pd.read_csv(rf'{path}\concatall.csv')

##### ðŸ”· check datatypes and correct required

In [6]:
df.dtypes

Date             object
Shift            object
Part_No           int64
Production        int64
Dent_Defect       int64
Paint_Defect      int64
Screen Defect     int64
Seam_leak         int64
Crimp_leak        int64
Casting_leak      int64
dtype: object

In [7]:
df[['Shift','Part_No']] = df[['Shift','Part_No']].astype('string')

In [8]:
df['Date']=pd.to_datetime(df['Date'])

##### ðŸ”· Export DataFrame to MySQL table

In [10]:
df.dtypes

Date             datetime64[ns]
Shift            string[python]
Part_No          string[python]
Production                int64
Dent_Defect               int64
Paint_Defect              int64
Screen Defect             int64
Seam_leak                 int64
Crimp_leak                int64
Casting_leak              int64
dtype: object

In [9]:
df.to_sql('concatall', con=engine, if_exists='replace', index=False)

6394