In [11]:
!pip show sqlalchemy

'pip' is not recognized as an internal or external command,
operable program or batch file.

In [12]:
from sqlalchemy import create_engine
import pandas as pd

In [13]:
from dotenv import load_dotenv
import os
load_dotenv(override=True)

True

In [14]:
# Your MySQL connection details
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')        # or your server address
port = os.getenv('DB_PORT')            # default MySQL port
database = os.getenv('DB_NAME')

# Create SQLAlchemy engine
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')

In [15]:
path = os.getenv('Path')
df = pd.read_csv(rf'{path}\concatall.csv')

##### ðŸ”· check datatypes and correct required

In [16]:
df.dtypes

Date             object
Shift            object
Part_No           int64
Production        int64
Dent_Defect       int64
Paint_Defect      int64
Screen Defect     int64
Seam_leak         int64
Crimp_leak        int64
Casting_leak      int64
dtype: object

In [17]:
df[['Shift','Part_No']] = df[['Shift','Part_No']].astype('string')

In [18]:
df['Date']=pd.to_datetime(df['Date'])

##### ðŸ”· Export DataFrame to MySQL table

In [19]:
df.to_sql('concatall', con=engine, if_exists='replace', index=False)

6394